/* src/assets/components/side.css */
@layer components {
  /* 公共 rail 基础能力 */
  .side-rail-base {
    @apply fixed 
            w-1
           flex flex-col
           justify-center
           gap-3
           transition-all duration-300
           overflow-hidden
           bg-slate-800/40;
  }

  .side-rail-left {
    @apply left-0 rounded-r-xl items-start;
  }

  .side-rail-right {
    @apply right-0 rounded-l-xl items-end;
  }

  /* 子项统一样式 */
  .rail-item {
    @apply opacity-0
           w-8 h-16
           rounded-md
           flex items-center justify-center
           text-slate-200
           transition-opacity duration-200;
    background-color: var(--color-bg-gold);
  }

  .side-closed {
    @apply w-2;
  }

  .side-open {
    @apply w-11;
  }

  .side-open .rail-item {
    @apply opacity-100;
  }
}

